<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title> Facebook L </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>List of Files</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container my-5" style="max-width: 800px;">
    <div class="mb-4">
        <a th:href="@{/starter/files}" class="btn btn-outline-primary">
            <i class="fas fa-arrow-left me-2"></i>Powrót
        </a>
    </div>
<div class="card border-danger shadow-sm">
    <div class="card-header bg-danger text-white">
        <h4 class="mb-0">
            <i class="fas fa-exclamation-triangle me-2"></i>Błąd
        </h4>
    </div>
    <div class="card-body">
        <p><strong>Wiadomość:</strong> <span th:text="${message}"></span></p>
        <p><strong>Data i czas:</strong> <span th:text="${timestamp}"></span></p>
    </div>
</div>
</body>
</html>
